@font-face {
  font-family: "FonteMinecraft";
  src: url("../../assets/fonts/FonteMinecraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.logo {
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 7.5rem;
  padding-bottom: .9375rem;

  opacity: 0;
  animation: fadeInAnimation 4s ease-in forwards;
}


.content {
  justify-content: flex-start;
  height: 26.875rem;
  width: 31.25rem;
  background-color: rgba(27, 27, 27, 0.863);
  color: white;
  font-family: "FonteMinecraft", sans-serif;
  font-size: 1.875rem;

  opacity: 0;
  animation: fadeInAnimation 2s ease-in forwards;
}

p {
  justify-content: flex-start;
  display: flex;
  margin-left: 1.25rem;
}

.checkbox {
  justify-content: flex-start;
  display: flex;
  margin-left: 1.25rem;
}
.check {
  width: 1.25rem;
  margin-top: 1.875rem;
}
.botao {
  font-family: "FonteMinecraft", sans-serif;
  font-size: 2.1875rem;
  color: rgb(255, 255, 255);
  height: 3.125rem;
  width: 25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: rgb(5, 154, 5);
  border-radius: .4375rem;
  border-color: rgb(0, 0, 0);
}
.botao:active {
  transform: scale(0.95); 
}

/* animação fade in da logo e do content */
@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }